.DS_Store
*.orig
.hg*
*.mode1v3
*.pbxuser
*.perspective*
docs/html/
docs/docset/
Debug/
Release/
Distribution/
build/
xcuserdata/
*.xcworkspace/
fabfile.py*
*.build_output
# Undo files for MacVim 
*.un~
# CoverStory tool script
cover.py
*.swp
*.LSOverride
Pods/*

# Carthage 
Carthage.pkg
Carthage/Checkouts
Carthage/Build/iOS/*.bcsymbolmap
Carthage/Build/iOS/*.dSYM